
nav{
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px gray;
}
.contentform{
    margin: 10px;
  
}
#cntfrom{
    top: 65%;
	right: 10%;
	background: aliceblue;
	border-radius: 6px;
	height: auto;
    width: 460px;
    opacity:0.8;
}
.btn-group {
    width: 100%;
}
#rslt{
    margin-top: 60px;
}
footer {
    margin-top: 100px;
    padding: 40px;
    padding-bottom: 10px;
    background-color: hsl(210, 17%, 98%);
    text-align: center;
    box-shadow: 1px 1px 2px gray;
 }
.listOffers{
    color: black;
    text-decoration-line: none;
    padding: 5px;
    
 }
 .listOffers:hover{
    color: skyblue;
    text-decoration-line: none;
    font-size: large;

 }

@media screen and (max-width:1200px){
    #cntfrom{
        width: 400px;
        top: 50%;
    }
    #rslt{
        margin-top: 90px;
    }
}

@media screen and (max-width:992px){
    #rslt{
        margin-top: 110px;
    }
}
@media screen and (max-width:768px){
    #cntfrom{
        width: 400px;
        right: 5%;

    }
    #rslt{
        margin-top: 200x;
    }
    footer{
        margin-top: 160px;
    }
}
@media screen and (max-width:600px){
    #cntfrom{
        width: 98%;
        top: 70%;
        right: 1%;
        left: 1%;
        

    }
    #rslt{
        margin-top: 300px;
    }
    footer{
        margin-top: 250px;
    }
}